
table.github_project {
    max-width: 700px;
}

table.github_project tbody:hover {
    cursor: pointer;
}

table.github_project tbody tr:nth-last-child(1) td {
    border:     none;
    padding:    0;
}

table.github_project tbody tr:nth-last-child(1) {
    background-color: transparent;
}

table.github_project tbody th > span:nth-child(1) {
    float: left;
}

table.github_project tbody th > span:nth-child(2) {
    float: right;
}

table.github_project tbody.mouseover {
    color: #353535;
}

table.github_project tbody.mouseover td {
    border-left:    1px #f259ab solid;
    border-right:   1px #f259ab solid;
}

table.github_project tbody.mouseover tr:nth-child(1) th {
    border-top:         1px #f259ab solid;
    border-left:        1px #f259ab solid;
    border-right:       1px #f259ab solid;
    background-color:   #f259ab;
    color:              white;
}

table.github_project tbody.mouseover tr:nth-last-child(2) td {
    border-bottom: 1px #f259ab solid;
}
