/*
内容
    font-family:"Helvetica", "Tahoma", "Arial", "Hiragino Sans GB", "宋体", "SimSun", "华文细黑", "STXihei", "sans-serif";

标题
    font-family:"Helvetica", "Tahoma", "华文细黑", "STXihei", "黑体", "SimHei", "serif";

粗黑标题
    font-family:"Helvetica", "Tahoma", "Hiragino Sans GB", "微软雅黑", "Microsoft YaHei", "华文细黑", "STXihei", "黑体", "SimHei", "sans-serif";

代码
    font-family: Lucida Console, Monaco, Courier New, mono, monospace, "Hiragino Sans GB", "SimSun", "宋体";


*/

html {
    margin:0;
    padding:0;
}

body {
    background-color:#efefef;
    font-size:1em;
    color:#222222;
    width:100%;

    /*内容*/
    font-family:"Helvetica", "Tahoma", "Arial", "Hiragino Sans GB", "宋体", "SimSun", "华文细黑", "STXihei", "sans-serif";
}

#container {
    background-color:#f29ac9;
    max-width:980px;
    margin:0 auto;
}

#container_inner {
    background-color:white;
    max-width:980px;
    margin:0px 5px;
    padding:20px;
    min-height:100vh; /* 100% of viewport height */
}

/************************
 * index
 ***********************/

#index header h1 {
    /*标题*/
    font-family:"Helvetica", "Tahoma", "华文细黑", "STXihei", "黑体", "SimHei", "serif";
    font-size:2.6em;
    line-height:130%;
}

#index header h1 a {
    text-decoration:none;
    color:#222222;
}

#index header h1 span.star {
    color:#ec4d98;
    font-family:"Tahoma", "Arial";
}

#index li {
    font-size: 1em;
}

#index li a {
    color:rgb(221, 97, 163);
}

#index li a:visited {
    color:rgb(97, 200, 245);
}


#index li a:hover {
    color:rgb(255, 161, 243);
}


/************************
 * article
 ***********************/

article {
}

article b {
    background-color:#ffafbf;
}

article header {
    padding:1em 0;
}

article header h1.title {
    /*标题*/
    font-family:"Helvetica", "Tahoma", "华文细黑", "STXihei", "黑体", "SimHei", "serif";
    border-bottom:1px #666666 solid;
    font-size:2.8em;
    line-height:120%;
    padding-bottom:6px;
    margin:0em;
}

article header h1.title a {
    color: #222222;
    text-decoration: none;
}

article > h1,h2,h3,h4,h5,h6 {
    /*标题*/
    font-family:"Helvetica", "Tahoma", "华文细黑", "STXihei", "黑体", "SimHei", "serif";
}

article h1 {
    font-size:2.4em;
    margin:1em 0;
}

article h2 {
    font-size:1.8em;
    margin:1em 0;
}

article h3 {
    font-size:1.6em;
}

article h4 {
    font-size:1.4em;
}

article h5 {
    font-size:1.2em;
}

article h6 {
    font-size:1em;
}

article p.pubtime {
    text-align: right;
    font-size:  0.8em;
}

article p {
    font-size:1em;
    line-height:160%;
}

article img {
    max-width:100%;
}

/************************
 * 引用、代码、强调
 ***********************/

article code {
    /*代码*/
    font-family: "Lucida Console", "Monaco", "Courier New", "mono", "monospace", "Hiragino Sans GB", "SimSun", "宋体";
}

/* 行内代码：markdown: `text` */
article p code {
    color:rgb(255, 166, 78);
}


/* 块状代码外层 */
article pre {
    background-color:#f5f5f5;
    padding:1em;
    line-height:130%;
    border-radius:15px;
}

/* 块状代码：markdown：缩进 或 ```text``` */
article pre code {
    font-size: 0.8em;
}

/* 用于引用 markdown: >text */
article blockquote {
    font-size: 1.2em;
    font-style: italic;
    line-height: 1.45;
    position: relative;
    color: #555555;
    text-indent:1em;
    width: 90%;
    padding: 1em 1.5em;
    margin:0 auto;
    display:table
}

article blockquote:before {
    font-family: Georgia, serif;
    display: block;
    content: "\201C";
    font-size: 4em;
    position: absolute;
    left: -5px;
    top: -5px;
    color: #7a7a7a;
}

/* 一般用于文章开头的提示、强调 markdown: >*text* */
article blockquote p em {
    font-weight:bold;
    font-style:normal;
    color:#888888;
}

/* markdown: >**text** */
article blockquote p strong {
    font-weight:bold;
    color:black;
}

/* 正文中的强调：markdown: *text* */
article > p > em {
    background-color: #ffe8f1;
    padding:3px;
    margin:0 6px;
    font-weight:bold;
    border-radius:8px;
    font-style:normal;
}

/* 正文中的重点强调, markdown: **text** */
article > p > strong {
    background-color: #fc93bc;
    padding:3px;
    font-weight:bold;
    border-radius:8px;
    font-style:normal;
}

/************************
 * 链接
 ***********************/
article a {
    color:rgb(221, 97, 163);
}

article a:visited {
    color:rgb(97, 200, 245);
}

article a:hover {
    color:rgb(255, 161, 243);
}


/************************
 * 表格
 ***********************/

article table {
    margin:10px auto;
    border-collapse:collapse;
}
article table th, article table td {
    border: 1px #cccccc solid;
    padding:8px 10px;
    font-size:0.9em;
    color: #333333;
}
article table th {
    font-weight: bold;
    background-color:#f5f5f5;
}

/************************
 * 列表
 ***********************/

article li {
    line-height:150%;
}

/************************
 * nav
 ***********************/

nav {
    padding:5px;
}

nav p {
    text-align:center;
}

nav a {
    color:#efefef;
    background-color:#f576ba;
    padding:5px;
    text-decoration:none;
    border-radius: 10px;
}

nav a:hover {
    color:white;
    background-color:#ec4d98;
}


/************************
 * 列表页
 ***********************/

section#index {
}

section#index header {
    text-align:center;
}

section#index header h1 {
}

section#index ul {
    list-style:inside;
}

section#index li {
    font-size:1.2em;
    line-height:200%;
}

/************************
 * 其他
 ***********************/

.hidden {
    display:none;
    font-size:0px;
    width:0px;
    height:0px;
}

